{% extends 'navbar.html' %} {% block title %} Contect page{% endblock title %} 
{% block body %} 
<div class="container-fluid px-0">
    <img src="static/img/thum/contact.jpg" class="d-block w-100 mx-0 " alt="...">
   <div class="carousel-caption ">
        <h1>Contact Us </h1>
      </div>
</div>
<div class="container mx-0"><h1>Contact Us</h1></div>
<div class="container my-0 " style="padding-top: 59px;">
<div class="col-md-12">
  <div class="col-md-4">
  <form method="post" action="/contact">
    {% csrf_token  %}
  <div class="mb-3">
    <label for="name">Full Name</label>
    <input type="text" name="name" id="name" class="form-control form-control-alternative" placeholder="Your Name" required>
  </div>
  
  <div class="mb-3">
    <label for="course">Course</label>
    <input type="text" name="course" id="course" class="form-control form-control-alternative" placeholder="Enter Course Name" required>
  </div>
 <div class="mb-3">
  <label for="Phone" >Phone Number</label>
  <input type="number" name="phone" class="form-control form-control-alternative" id="phone" placeholder="Phone Number"></div>
    
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control"placeholder="abc@gamil.com" id="email" name='email' aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
</div>
  <div class="col-md-12" >
  </div>
  <div class=" col-md-4">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
{% endblock body %}
